extends layout.pug

block content
  h1.mt-5 Products 
    a.btn.btn-primary(href='./products/new') New
  table.table
    thead
      tr
        th(scope='col') Name
        th(scope='col') Quantity
        th(scope='col')
    tbody
      each product in products
        tr
          td= product.name
          td= product.quantity
          td
            a.btn.btn-primary(href='./products/' + product.id) View
            form(action='/products/' + product.id + '/delete' method="POST")
              button.btn.btn-danger(type='submit') Delete
